<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="color: rgb(125, 249, 125)"><%=userName%> success</h1>
  </body>
</html>
