<!DOCTYPE html>
<html>
  <head>
    <title>Failure</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 style="color: red; font-size: 20px">Authentication failed</h1>
  </body>
</html>
