<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a style="color: rgb(97, 174, 237)" href="/auth/github"
      >Login with github</a
    >
    <a style="color: rgb(88, 249, 99)" href="/auth/google">Login with google</a>
  </body>
</html>
