<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="text-gray-600">
    <% include partials/header %>
    <div class="container mx-auto">
      <div class="max-w-xl mx-auto text-center">
        <h1 class="text-5xl mb-8">
          Welcome To <br />
          <span class="text-8xl">BLOGIFY</span>
        </h1>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero incidunt
          quod accusamus ea. Cum libero aspernatur sunt rerum, delectus culpa.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque,
          tenetur?
        </p>
        <a
          class="bg-sky-400 text-white p-3 rounded-lg inline-block"
          href="/articles"
          >Explore</a
        >
      </div>
    </div>
  </body>
</html>
