<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h4 style="color: green">authentication success</h4>
  </body>
</html>
